{% load blog_app_tags %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark  border-bottom border-secondary">

    <div class="container">

        <a class="navbar-brand fs-4 text-light" href="{% url 'index' %}"><B>FIRST<span
                class="brand-color">BLOG</span></B></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                {% list_tags pos='head' cnt_head_tag=3 cnt_side_tag=3 as header_tags %}
                {% for header_tag in header_tags %}
                    <li class="nav-item">
                    <a class="base-link" href="{% url 'tag' header_tag.slug %}">{{ header_tag|upper }}</a>
                </li>
                {% endfor %}

                <li class="nav-item">
                    <a class="base-link" href="{% url 'search' %}">ПОИСК</a>
                </li>
                <li class="nav-item">
                    <a class="base-link" href="{% url 'about' %}">О БЛОГЕ</a>
                </li>

            </ul>
            <ul class="nav navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="base-link" href="{% url 'users:login' %}?next={{ request.path|urlencode }}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a href="">
                            <a class="base-link" href="{% url 'users:register' %}">
                                <button type="button" class="btn btn-outline-primary">Register
                                </button>
                            </a>
                        </a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="base-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><span class="dropdown-header fw-bold">Hi, {{ user.get_short_name }}!</span></li>
                            {% if user.is_staff %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'index' %}admin/">Admin panel</a>
                                </li>
                            {% endif %}
                            {% if user.has_perm_add_post %}
                                <li><a class="dropdown-item" href="{% url 'add_post' %}">Add Post</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'users:profile' username=user.get_username %}">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>