{% extends 'blog_app/base.html' %}

{% block title %}Confirm email is invalid{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 mb-5">
        <div class="news-body fs-5 px-md-5">
            <h1 class="mb-4 text-center"><b>Confirm email is invalid</b></h1>
            <p>Link is incorrect. Please try to <a href="{% url 'users:login' %}">log in</a> for sending link again.</p>
        </div>
    </div>

{% endblock %}