{% extends 'blog_app/base.html' %}

{% block title %}Password reset confirmation{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <!--Full news block-->
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 mb-5">

        <!--News body-->
        <div class="news-body fs-5 px-md-5">
            <h1 class="mb-4 text-center"><b>Password reset confirmation</b></h1>
            <!--Text of news-->
            <div class="news-text mb-3">
                {% if validlink %}
                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-warning text-center" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger text-center" role="alert">
                                {{ error|escape }}
                            </div>

                        {% endfor %}
                    {% endif %}
                    <form class="needs-validation mb-3" method="post" novalidate>
                        {% csrf_token %}

                        <div class="mb-2 row">
                            <label for="password1" class="col-4 col-form-label">New password</label>
                            <div class="col-8">
                                {{ form.new_password1 }}
                                <div class="invalid-feedback">
                                    Password length should be at least 8
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label for="password2" class="col-4 col-form-label">Confirm</label>
                            <div class="col-8">
                                {{ form.new_password2 }}
                                <div class="invalid-feedback">
                                    Password length should be at least 8
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-outline-primary w-100 mb-2" type="submit">Change my password</button>

                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a
                        new password reset.</p>
                {% endif %}
            </div>


        </div>

    </div>

{% endblock %}
