{% extends 'blog_app/base.html' %}

{% block title %}Password reset - FIRSTBLOG{% endblock %}

{% block content %}
    <!--Full news block-->
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 mb-5">

        <!--News body-->
        <div class="news-body fs-5 px-md-5">
            <h1 class="mb-4 text-center"><b>Password reset</b></h1>
            <!--Text of news-->
            <p>Your password has been set.  You may go ahead and <a href="{% url 'users:login' %}">log in</a> now.</p>

        </div>

    </div>

{% endblock %}
