{% extends 'blog_app/base.html' %}

{% block title %}Done{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <!--Full news block-->
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 mb-5">

        <!--News body-->
        <div class="news-body fs-5 px-md-5">
            <h1 class="mb-4 text-center"><b>Password reset</b></h1>
            <!--Text of news-->
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

        </div>

    </div>

{% endblock %}
