{% extends 'blog_app/base.html' %}

{% block title %}Password reset - FIRSTBLOG{% endblock %}

{% block content %}
    <!--Full news block-->
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 mb-5">

        <!--News body-->
        <div class="news-body fs-5 px-md-5">
            <h1 class="mb-4 text-center"><b>Password reset</b></h1>
            <!--Text of news-->
            <div class="news-text mb-3">
                {% if form.email.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <form class="needs-validation mb-3" method="post" action="{% url 'users:password_reset' %}" novalidate>
                    {% csrf_token %}
                    <div class="mb-2 row">
                        <label for="Email" class="col-3 col-form-label">Email</label>
                        <div class="col-9">
                            {{ form.email }}
                            <div class="invalid-feedback">
                                Please enter a valid email address
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-primary w-100 mb-2" type="submit">Reset my password</button>

                </form>
            </div>


        </div>

    </div>

{% endblock %}
