{% extends 'blog_app/base.html' %}

{% block title %}Register - FIRSTBLOG{% endblock %}

{% block content %}
    <!--Full news block-->
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 mb-5">

        <!--News body-->
        <div class="news-body fs-5 px-md-5">
            <h1 class="mb-4 text-center"><b>Register</b></h1>
            <!--Text of news-->
            <div class="news-text mb-3">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger text-center" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-warning text-center" role="alert">
                            {{ error|escape }}
                        </div>

                    {% endfor %}
                {% endif %}
                <form class="needs-validation mb-3" method="post" action="{% url 'users:register' %}" novalidate>
                    {% csrf_token %}
                    <div class="mb-2 row">
                        <label for="FirstName" class="col-4 col-form-label">First name</label>
                        <div class="col-8">
                            {{ form.first_name }}
                            <div class="invalid-feedback">
                                Please choose a first name
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="last_name" class="col-4 col-form-label">Last name</label>
                        <div class="col-8">
                            {{ form.last_name }}
                            <div class="invalid-feedback">
                                Please choose a last name
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="username" class="col-4 col-form-label">Username</label>
                        <div class="col-8">
                            {{ form.username }}
                            <div class="invalid-feedback">
                                Please choose a username
                            </div>
                        </div>

                    </div>
                    <div class="mb-2 row">
                        <label for="email" class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            {{ form.email }}
                            <div class="invalid-feedback">
                                Please choose a email
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="password1" class="col-4 col-form-label">Password</label>
                        <div class="col-8">
                            {{ form.password1 }}
                            <div class="invalid-feedback">
                                Password length should be at least 8
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="password2" class="col-4 col-form-label">Repeat</label>
                        <div class="col-8">
                            {{ form.password2 }}
                            <div class="invalid-feedback">
                                Password length should be at least 8
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-primary w-100 mb-2" type="submit">Register</button>

                </form>
                <div class=" d-flex justify-content-center">
                    Have already an account?&nbsp;<a href="{% url 'users:login' %}">Log in</a>
                </div>
            </div>


        </div>

    </div>

{% endblock %}
