{% extends 'blog_app/base.html' %}

{% block title %}Feedback - FIRSTBLOG{% endblock %}

{% block content %}
    <div class="col-xl-9 mb-5">
        <div class="news-body fs-5 px-md-5">
            <h1><b>Feedback</b></h1>
            <div class="news-text mb-3">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-warning text-center small" role="alert">
                                <span class="fw-bold">{{ field.name }}:</span> {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger text-center small" role="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'feedback' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="exampleFormControlInput1" class="form-label">Your name</label>
                                {{ form.name }}
                            </div>
                            <div class="col">
                                <label for="exampleFormControlInput1" class="form-label">Your email</label>
                                {{ form.email }}
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Subject</label>
                        {{ form.subject }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Main body</label>
                        {{ form.main_body }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>


        </div>

    </div>

{% endblock %}
