{% extends 'blog_app/base.html' %}

{% block title %}FIRSTBLOG{% endblock %}

{% block last-post %}
    <!--Big last news  -->
    <section class="last-news mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card-news bg-dark crop-img">
                        <img src="{{ last_post.image.url }}" class="card-img" alt="{{ last_post.title }}">
                        <div class="shadow"></div>
                        <div class="card-news-img-overlay">
                            <p class="card-text mt-3">
                                {% for tag in last_post.tag.all %}
                                    <a href="{% url 'tag' tag.slug %}" class="text-decoration-none">
                                        <button type="button"
                                                class="btn btn-sm btn-outline-light me-1">{{ tag }}</button>
                                    </a>
                                {% endfor %}
                            </p>
                            <h2 class="card-title"><a class="base-link"
                                                      href="{{ last_post.get_url }}">{{ last_post.title }}</a></h2>

                            <p class="card-text">{{ last_post.created_at }}</p>
                        </div>
                    </div>
                    {% if last_post is None %}<h2 class="text-center">Nothing. You need to add posts.</h2>{% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <!--List of news-->
    <div class="col-lg-9 mb-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for post in posts %}
                <div class="col">
                    <div class="card-news bg-dark">
                        <!--Img of news-->
                        <a href="{{ post.get_url }}"><img src="{{ post.image.url }}"
                                                          class="card-img-top" alt="{{ post.title }}"></a>
                        <div class="mt-3">
                            <!--Tags of news-->
                            <p class="card-text">
                                {% for tag in post.tag.all %}
                                    <a href="{% url 'tag' tag.slug %}" class="text-decoration-none">
                                        <button type="button"
                                                class="btn btn-sm btn-outline-light me-1">{{ tag }}</button>
                                    </a>
                                {% endfor %}
                            </p>
                            <!--Title and time of news-->
                            <h2 class="card-title"><a class="base-link" href="{{ post.get_url }}">{{ post.title }}</a>
                            </h2>
                            <p class="card-text">{{ post.created_at }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include './include/pagination.html' with page_obj=posts %}
    </div>
    {% include './include/sidebar.html' %}
{% endblock %}


